<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="template.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Amazonia</title>
  </head>
  <body>
    <div class="grid-container">
      <header class="rows">
        <div>
          <a class="brand" href="index.html">amazonia</a>
        </div>
        <div>
          <a href="cart.html">Cart</a>
          <a href="signin.html">Sign In</a>
        </div>
      </header>
      <main>
        <div class="rows center">
          <div class="card">
            <a hred="product.html">
              <img class="mediumImg" src="./images/dude.jpg" alt="product" />
            </a>
            <div class="card-bodyy">
              <a href="product.html">
                <h2>Gucci Slim Shirt</h2>
              </a>
              <div class="rating">
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
              </div>
              <div class="price">$300</div>
            </div>
          </div>
          <div class="card">
            <a hred="product.html">
              <img class="mediumImg" src="./images/dude.jpg" alt="product" />
            </a>
            <div class="card-bodyy">
              <a href="product.html">
                <h2>Gucci Slim Shirt</h2>
              </a>
              <div class="rating">
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
              </div>
              <div class="price">$300</div>
            </div>
          </div>
          <div class="card">
            <a hred="product.html">
              <img class="mediumImg" src="./images/dude.jpg" alt="product" />
            </a>
            <div class="card-bodyy">
              <a href="product.html">
                <h2>Gucci Slim Shirt</h2>
              </a>
              <div class="rating">
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star-o"></i>
                </span>
              </div>
              <div class="price">$300</div>
            </div>
          </div>
          <div class="card">
            <a hred="product.html">
              <img class="mediumImg" src="./images/dude.jpg" alt="product" />
            </a>
            <div class="card-bodyy">
              <a href="product.html">
                <h2>Gucci Slim Shirt</h2>
              </a>
              <div class="rating">
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star-half-o"></i>
                </span>
              </div>
              <div class="price">$300</div>
            </div>
          </div>
          <div class="card">
            <a hred="product.html">
              <img class="mediumImg" src="./images/dude.jpg" alt="product" />
            </a>
            <div class="card-bodyy">
              <a href="product.html">
                <h2>Gucci Slim Shirt</h2>
              </a>
              <div class="rating">
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
              </div>
              <div class="price">$300</div>
            </div>
          </div>
        </div>
      </main>
      <footer class="rows center">GiHub LinkedIn</footer>
    </div>
  </body>
</html>
